.amenities {
  display: none;
  border-top: solid 1px #ececec;
  margin: 2rem 0 0;

  &.show {
    display: block;
  }
}

.amenities__title {
  color: $gray;
  font-size: $font-size-sm;
  letter-spacing: 0;
  margin: 2rem 0 .5rem;
}

.amenities__list {
  color: $gray;
  display: flex;
  flex: {
    direction: column;
    wrap: wrap;
  }
  font: {
    family: $base-font-family;
    size: $font-size-sm;
  }
  height: 116px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  
  li {
    padding-left: 0;
    margin: .25rem 0;
  }
}
