// website colors

$white: #ebebeb;
$black: #272b2e;
$gray: #696969;

// blue scheme
$blue: #1F2036;
$blue-gray: #5E5861;
$teal: #33C4B6;
$teal-gray: #4A8993;

// yellows
$yellow: #FAB409;
$yellow-light-ultra: #F7F4DE;
$yellow-light: #FBD468;
$yellow-dark: #EA9629;